<div class="app-login-container">
  <h1>English <span>Helper</span></h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input pInputText type="email" placeholder="Email" formControlName="email">
      </p-inputGroup>
    </div>

    <div class="form-field">
      <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
        </p-inputGroupAddon>
        <input pInputText type="password" placeholder="Senha" formControlName="password">
      </p-inputGroup>
    </div>

    <div class="form-field">
      <button pButton pRipple type="submit" label="Entrar" [disabled]="!userForm.valid"></button>
    </div>

    <p-toast />

    <p class="text-register">
      Primeira vez?
      <a href="#">Registrar</a>
    </p>
  </form>
</div>
