<p-toast />
<div class="app-login-container">
  <h1>English_<span>Helper</span></h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input pInputText type="email" placeholder="email" formControlName="email">
      </p-inputGroup>
    </div>

    <div class="form-field">
      <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
        </p-inputGroupAddon>
        <p-password type="password" placeholder="senha" formControlName="password" [toggleMask]="true" [feedback]="false" />
      </p-inputGroup>
    </div>

    <div class="form-field">
      @if(!loading) {
        <button pButton pRipple type="submit" label="Entrar" [disabled]="!userForm.valid"></button>
      } @else {
        <p-progressSpinner
          ariaLabel="loading"
          strokeWidth="2"
          animationDuration=".5s"
        />
      }

    </div>

    <p class="text-register">
      Primeira vez?
      <a routerLink="/sign-up">Registrar</a>
    </p>
  </form>
</div>
