/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #6200ea; /* Cor de fundo ao selecionar */
  color: white; /* Cor do texto ao selecionar */
}
