@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-dark-amber/theme.css";
@import "primeicons/primeicons.css";

body {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: none;
  text-decoration: none;
  margin: 0;
}
