.app-title {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

::selection {
  background-color: #6200ea; /* Cor de fundo ao selecionar */
  color: white; /* Cor do texto ao selecionar */
}

body {
  background-color: #2B3337;
  color: aliceblue
}
