<p-toast />
<div class="app-login-container">
  <h1>English_<span>Helper</span></h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input pInputText type="text" placeholder="Nickname" formControlName="name">
      </p-inputGroup>
    </div>

    <div class="form-field">
      <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input pInputText type="email" placeholder="Email" formControlName="email">
      </p-inputGroup>
    </div>

    <div class="form-field">
      <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
        </p-inputGroupAddon>
        <input pInputText type="password" placeholder="Senha" formControlName="password">
      </p-inputGroup>
    </div>

    <div class="form-field">
      <button pButton pRipple type="submit" label="Cadastrar" [disabled]="!userForm.valid"></button>
    </div>

    <p class="text-register">
      Já possui uma conta ?
      <a routerLink="/sign-in">Entrar</a>
    </p>
  </form>
</div>
